html, body {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'PT Sans', sans-serif;
}

p,
ul,
label,
input {
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
}